

// ---------------------------------------------------------------------------
// Media queries

$mq-tablet-portrait: 500px;
$mq-tablet-horizontal: 768px;
$mq-desktop: 1024px;
$mq-desktop-large: 1280px;
$mq-desktop-xlarge: 1600px;

$page-size: 1280px;
