$primary-color: #000;
$secondary-color: #fff;

$btn-theme: (
	"fz": 1.5em,
	"theme-pri-color": $primary-color,
	"theme-sec-color": $secondary-color
);


@mixin button($theme: $btn-theme) {
	$root: &;
	position: relative;
	display: inline-block;
	margin: 1em 0;
	font-size: map-get($theme, "fz");
	&__link {
		display: block;
		padding: 1em 2em;
		text-decoration: none;
		color: inherit;
	}
	&--primary {
		color: map-get($theme, "theme-sec-color");
		background-color: map-get($theme, "theme-pri-color");
	}
	&--inverted {
		color: map-get($theme, "theme-pri-color");
		background-color: map-get($theme, "theme-sec-color");
	}
	&--outline {
		position: relative;
		color: map-get($theme, "theme-sec-color");
		border: 1px solid map-get($theme, "theme-sec-color");
		&::before,
		&::after {
			content: '';
			position: absolute;
		}
	}
}

.button { @include button(); }