$primary-color: #000;

$btn--theme: (
	"theme-primary-color": $primary-color
);

$btn: (
	"pos": relative,
	"dis": inline-block,
	"pad": 1em 2em,
	"txt-d": none,
	"color": inherit,
	"modifier": 
		(	
			"primary": 
				(
					"background-color": map-get($btn--theme, "theme-primary-color"),
					"color": #fff,
					"font-size": 1em
				),
			"secondary": 
				(
					"background-color": #fff,
					"color": #000,
					"font-size": .7em
				),
			"disabled": 
				(
					"background-color": rgba(0,0,0, .5),
					"color": #fff,
					"pointer-events": none
				)
		)
);

@mixin applyCSS($a, $b) {
	#{$a}: #{$b};
}

@mixin button($theme: $btn) {
	position: map-get($theme, "pos");
	display: map-get($theme, "dis");
	padding: map-get($theme, "pad");
	&__link {
		text-decoration: map-get($theme, "txt-d");
		color: map-get($theme, "color");
	}

	// Modifiers styling to be defined in theme map
	@each $mod, $mod-name in map-get($theme, "modifier") {
		&--#{$mod} {
			@each $key, $value in $mod-name {
				@include applyCSS($key, $value);
			}
		}
	}
}

.button { @include button(); }