$primary-color: #000;

$btn--theme: (
	"theme-primary-color": $primary-color
);

$btn: (
	"default": 
		(
			"padding": 1em 2em
		),
	"modifier": 
		(	
			"primary": 
				(
					"background-color": map-get($btn--theme, "theme-primary-color"),
					"color": #fff,
					"font-size": 1em
				),
			"secondary": 
				(
					"background-color": #fff,
					"color": #000,
					"font-size": .7em
				),
			"disabled": 
				(
					"background-color": rgba(0,0,0, .5),
					"color": #fff
				)
		)
);

@mixin applyCSS($a, $b) {
	#{$a}: #{$b};
}

@mixin button($theme: $btn) {
	position: relative;
	width: 100px;
	height: 100px;
	@each $mod, $mod-name in map-get($theme, "modifier") {
		&--#{$mod} {
			@each $key, $value in $mod-name {
				@include applyCSS($key, $value);
			}
		}
	}
}

.button { @include button(); }